@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-text;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-title;
    @apply font-title;
    @apply font-bold;
  }

}

@layer components {
  .btn-primary {
    @apply px-2 py-2 rounded-md flex flex-row items-center gap-1 text-sm;
  }
}

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
